<%- include("header") -%>
<h2>About us</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum hic, corrupti odit commodi nihil illum tempore qui soluta? Sint earum tenetur repudiandae fugiat nihil, voluptatum amet est deleniti iure eaque.</p>
<%- include("footer") -%>